@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(50, 187, 187);
    box-shadow: black;
    text-shadow: -4px 4px 0 #050a29;
    font-size: 40px;
    background-color: #333;
}
.titulo
{
    
    border-radius: 12px;
    background: #222222;
    overflow: hidden;
    padding: 20px;
    width: 60%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div1
{
    
    border-radius: 12px;
    background: #ec6f84;
    overflow: hidden;
    padding: 20px;
    width: 60%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto1
{
    color: #34d1d1;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  text-shadow: -3px 3px  #0a0e27;
}
